<!doctype html>
<html lang=en>
	<head>
		<meta charset=utf-8>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>LIFFテスト</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
		<link href="/static/cloud-run-32-color.png" rel="icon" type="image/png" />
		<link href="/static/style.css" rel="stylesheet" type="text/css" />
		<!-- LIFF SDK -->
		<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.22.3/sdk.js"></script>
		<!-- LIFFの処理を記述するjs-->
		<script charset="utf-8" src="/static/js/liff.js"></script>
	</head>
	<body>
		<div class="test"></div>
		<script>
			$(document).ready(
				function() {
					main();
				}
			);
		</script>
	</body>
</html>
